:root {
  --primary-color: #6003C3;
  --white: #FFFFFF;
  --box-color-1: #FCFF00;
  --box-color-2: #57FFC9;
  --box-color-3: #A5FF01;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Bebas Neue', Impact, sans-serif;
}

header {
  background-color: #6003C3;
}

h1 {
  color: #FFFFFF;
  text-align: center;
  font-size: 5rem;
  font-weight: 300;
  line-height: 1;
  padding: 50px 0;
}

p {
  color:#6003C3;
  text-align: center;
  margin: 20px 5%;
  font-size: 2rem;
}

.boxes {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.box {
  color:#6003C3;
  width: 150px;
  height: 150px;
  border: 20px solid #6003C3;
  border-radius: 15px;
  margin-bottom: 20px;
  font-size: 5em;
  text-align: center;
  line-height: 150px;
  box-shadow: 13px 13px 22px 1px rgb(0 0 0 / 36%);
}

#box-1 {
  background-color: #FCFF00;
}

#box-2 {
  background-color: #57FFC9;
}

#box-3 {
  background-color: #A5FF01;
}

.score {
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#wins, #losses {
  font-size: 1.4em;
  color: #6003C3;
  margin: 20px 0;
}

@media screen and (min-width: 768px) {
  .boxes {
    flex-direction: row;
    justify-content: space-evenly;
  }
  #message {
    margin-bottom: 50px;
  }
  #wins, #losses {
    font-size: 2em;
    margin-top: 50px;
  }
}

@media screen and (min-width: 768px) {
  .boxes {
    justify-content: space-around;
  }
}

@media screen and (min-width: 1024px) {
  .boxes {
    max-width: 75%;
    margin: 0 auto;
  ;
}
